<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>event-manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.rahul.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.rahul.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.rahul.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEventServlet</display-name>
    <servlet-name>CreateEventServlet</servlet-name>
    <servlet-class>com.rahul.servlet.CreateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEventServlet</servlet-name>
    <url-pattern>/create-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.rahul.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/user-signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventAttendServlet</display-name>
    <servlet-name>EventAttendServlet</servlet-name>
    <servlet-class>com.rahul.servlet.EventAttendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventAttendServlet</servlet-name>
    <url-pattern>/attend-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateFormServlet</display-name>
    <servlet-name>ShowUpdateFormServlet</servlet-name>
    <servlet-class>com.rahul.servlet.ShowUpdateFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateFormServlet</servlet-name>
    <url-pattern>/show-update-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventServlet</display-name>
    <servlet-name>UpdateEventServlet</servlet-name>
    <servlet-class>com.rahul.servlet.UpdateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventServlet</servlet-name>
    <url-pattern>/update-event</url-pattern>
  </servlet-mapping>
</web-app>